body {
  background-color: black;

}

li {
  list-style: none;
}

.container-room {
  display: grid;
  place-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

label {
  text-align: center;
}

.form-container input {
  /* margin: .5rem auto;
  width: 15%; */
}

.form-register {
  width: 20%;
  
}

.h2-room {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
}

.h2-acceder {
  text-align: center;
  font-weight: 500;
}

span {
  color: #63b77d;
  font-weight: bold;
}

.rooms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 1rem auto;
  gap: 10px;
}

.form-room {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-block: 1rem;
}

.form-room input {
  padding-left: .5rem;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.chat ul {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 660px;
  overflow-y: scroll;
  padding: 1rem;
  border: 5px solid #C6F6D5;
  gap: 20px;
}

.data-message {
  display: flex;
  flex-direction: column;
}

.chat li p{
  font-weight: 500;
}

.chat ul::-webkit-scrollbar {
  width: 4px; 
}

.chat ul::-webkit-scrollbar-thumb {
  background: #C6F6D5; 
  border-radius: 5px; 
}

.container-users {
  display: flex;
}

.users-connected {
  margin-bottom: 1rem;
}

.users-connected h3 span{
  color: #63b77d;
}

strong {
  font-size: .8rem;
  color: #63b77d;
}

.centered-message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  font-weight: 500;
}

.typing {
  padding-block: .5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer img {
  width:25px;
  height: 25px;
  border-radius: 20px;
}